/* Styling for body */
body {
    padding-bottom: 60px; /* ..px is equivalent to footer height */
}

p, h2, h3 {
    font-family:Arial, Helvetica, sans-serif;
}

/* Styling for headers */

h1 {
    text-align: center;
    color: rgb(0, 0, 0);
    position:sticky;
    background-color: #7ca9b7;
    font-family: 'Aldrich';
    font-size:50px;
    padding-top: 50px;
    padding-bottom: 50px;
    letter-spacing: 5px;
    word-spacing: 1px;
    text-transform:uppercase;
}

h2 {
    text-align: center;
    padding: 5px;
}

h3 {
    text-indent: 15px;
}


/* Styling for paragraphs */
p {
    margin: 15px;
    text-indent: 20px;
}

/* Styling for aside */
aside {
    width: 40%;
    padding: 15px;
    padding-bottom: 0px;
    margin: 15px;
    float: right;
    background-color: lightgray;
    font-size: 18px;
}

/* Styling for footer */
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    border-style: double;
    border-color: #636363;
    border-width: 3px;
    background-color:#333333;
    color: white;
    text-align: center;
}

/* Classes*/

.roundCorners {
    border-radius: 25px;
    border: 1px solid black;
}

/* Styling for introduction on a page */
.intro {
    font-weight: bold;
    text-align: center;
    font-size: 18px;
    line-height: 25px;
}

.row {
    display: flex;
}

.column {
    flex:50%;
    padding: 10px;
    border: 2px dotted black;
    
}

/* Position element to the left */
.leftPosition {
    width: 50%;
    position: left;
}

.rightPosition {
    width: 50%;
    position: right;
}

/* Image positions */
.img {
    width: 100%;
}

.rightImg {
    float: right;
    margin-left: 15px;
    width: 30%;
}
.leftImg {
    float:left;
    margin-left: 10px;
    margin-right: 15px;
    width: 40%;
}

.asideImg {
    width: 100%;
    float: right;
}

.floatRightImg {
    float: right;
    width: 50%;
    border: 1px solid black;
    margin-left: 5px;
    border-radius: 25px;
}

/* styling for interactive navigation bar*/
#main-nav {
    ul {
        list-style-type: none;
        padding: 0;
        overflow: hidden;
        background-color: #333333;
        border: 1px solid #bbbbbb;
        text-align: center;
        position:sticky;
        width: 100%;
    }

    ul li {
        float: left;
        border-right: 1px solid #bbbbbb;
        background-color: #333333;
    }

    ul li a {
        display: inline-block;
        color: rgb(255, 255, 255);
        text-align: center;
        padding: 14px 30px;
        text-decoration: none;
        background-color: #333333;
    }

    ul li a:hover {
        background-color: #050505;
    }

    ul li a.active {
        background-color: #507e8b;
    }
    
}

/* Reset default margins and paddings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

